.db-table {
    border-radius: 20px;
    padding: 2px;
    background-color: white;
    width: 100%;
    margin: 5px auto 10px auto;
    border-color: #303030;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table {
    margin-top: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.columnName:first-child {
    border-top-left-radius: 20px;
}

.columnName:last-child {
    border-top-right-radius: 20px;
}

tr:last-child .cell:first-child {
    border-bottom-left-radius: 20px;
}

tr:last-child .cell:last-child {
    border-bottom-right-radius: 20px;
}

.tableName {
    border: none;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
}

.columnName {
    height: 40px;
    padding: 5px;
    background-color: #303030;
    color: white;
    text-align: center;
}

.cell {
    height: 30px;
    padding: 5px;
}

td:not(:last-child) {
    border-right: 1px solid #d5d5d5;
}

.lightRow {
    background-color: white;
}

.lightRow:hover {
    background-color: #CACACA;
    cursor: pointer;
}

.darkRow {
    background-color: #e5e5e5;
}

.darkRow:hover {
    background-color: #dadada;
    cursor: pointer;
}

.time {
    min-width: 80px;
}

.conference_id {
    width: 150px;
}

.focus {
    width: 650px;
}

ul.pagination li {
    color: green;
    display: inline-block;
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    position: relative;
}

ul.pagination {
    width: 460px;
    margin: auto;
}

