.db-table {
    border-radius: 20px;
    padding: 2px;
    background-color: white;
    width: 900px;
    margin: 80px auto 10px auto;
    border-color: #303030;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.columnName:first-child {
    border-top-left-radius: 20px;
}

.columnName:last-child {
    border-top-right-radius: 20px;
}

tr:last-child .cell:first-child {
    border-bottom-left-radius: 20px;
}

tr:last-child .cell:last-child {
    border-bottom-right-radius: 20px;
}

.tableName {
    border: none;
    text-align: center;
    font-weight: bold;
}

.columnName {
    height: 40px;
    padding: 5px;
    background-color: #303030;
    color: white;
    text-align: center;
}

.cell {
    height: 30px;
    padding: 5px;
}

td:not(:last-child) {
    border-right: 1px solid #d5d5d5;
}

.lightRow {
    background-color: white;
}

.darkRow {
    background-color: #e5e5e5;
}

.time {
    width: 160px;
}

.conference_id {
    width: 150px;
}

.focus {
    width: 650px;
}

a:link {
    color: #5cacc6
}