#queries {
    width: 900px;
    margin: auto;
}

#query-field {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    margin: auto;
    padding: 10px;
    background-color: #303030;
}

.padding {
    width: 100%;
    height: 70px;
}

#query-input {
    text-indent: 10px;
    width: 900px;
    height: 30px;
    left: 15%;
    position: fixed;
}

#search-field, #query-input #message  {
    width: 87%;
}

#query-input input[type=text], #query-input #message  {
    height: 20px;
    border-radius: 15px;
    text-indent: 10px;
    border: none;
    margin: 2px;
}

#query-input input[type=radio] {
    margin-left: 15px;
}

#query-input label {
    color: white;
    text-transform: capitalize;

}

#query-field button {
    height: 24px;
    width: 9%;
    border-radius: 10px;
    margin: auto;
    float: right;
}

#query-input .error {
    background-color: #FF0008;;
    color: white;
}

#queries .info {
    width: 460px;
    margin: auto;
    color: #8B8B8B;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}

linechart {
    margin: auto;
}