#query-field {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    margin: auto;
    padding: 10px;
    background-color: #303030;
}

#query-input {
    min-width: 700px;
    text-indent: 10px;
    width: 71%;
    height: 30px;
    left: 15%;
    position: fixed;
}

#name-field {
    width: 29%;
}

#id-field {
    width: 9%;
}

#focus-field {
    width: 49%;
}

#query-input input[type=text] {
    height: 20px;
    border-radius: 15px;
    text-indent: 10px;
    border: none;
    margin: 2px;
}

#query-field button {
    height: 20px;
    width: 9%;
    border-radius: 10px;
    margin: auto;
}