#conference-info, #endpoint-info {
    width: 900px;
    margin: auto;
    padding: 2px;
    background: white;
    border-radius: 20px;
}

.info-key {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.info-value {
    padding-left: 10px;
}

tr:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

tr:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

tr:first-child .info-key {
    border-top-left-radius: 20px;
}

tr:first-child .info-value {
    border-top-right-radius: 20px;
}

tr:last-child .cell:first-child {
    border-bottom-left-radius: 20px;
}

tr:last-child .cell:last-child {
    border-bottom-right-radius: 20px;
}

tr:not(:last-child) {
    border-bottom: 1px solid #d5d5d5;
}