<query-field></query-field>
<div id="conferences">
    <div class="padding"></div>
    <div id="conference-info" class="table">
        <table>
            <tr ng-repeat="(key, value) in response"
                ng-class-even="'lightRow'"
                ng-class-odd="'darkRow'">
                <td class="info-key">{{key}}</td>
                <td class="info-value">{{value}}</td>
            </tr>
        </table>
    </div>
    <div id="loading" ng-if="loading">Loading ...</div>
    <div class="info" ng-if="info.length === 0">No results were found</div>
    <span  ng-repeat="data in info">
        <db-table ng-if="data.name!=='peer_connection_stats'" data="data"></db-table>
    </span>
</div>