<div class="table">
    <div class="tableName">{{data.name|tableName}}</div>
    <div class="db-table">
        <table>
            <tr>
                <td class="columnName">time</td>
                <td
                    ng-repeat="column in columnsOrder"
                    class="columnName">{{data.columns[column]}}</td>
            </tr>
            <tr dir-paginate="row in data.points  | itemsPerPage: 10" pagination-id="data.name"
                ng-class-even="'lightRow'"
                ng-class-odd="'darkRow'"
                ng-click="goTo($index)">
                <td>
                     <span>
                        {{row[0]|time}}
                    </span>
                </td>
                <td
                    ng-repeat="column in columnsOrder"
                    ng-class="[data.columns[column], 'cell']">
                    <span>
                        {{data.columns[column] !== 'time' ? row[column] : formatTime(row[column])}}
                    </span>
                </td>
            </tr>
        </table>

        <dir-pagination-controls template-url="/lib/dirPagination.tpl.html"
            pagination-id="data.name" max-size="7">
        </dir-pagination-controls>
    </div>
</div>