<div class="tableName">{{data.name.toUpperCase()}}</div>
<div class="db-table">
    <table>
        <tr>
            <td ng-if="data.columns[$index] !== 'sequence_number'"
                ng-repeat="column in data.columns"
                class="columnName">{{column}}</td>
        </tr>
        <tr ng-repeat="row in data.points"
            ng-class-even="'lightRow'"
            ng-class-odd="'darkRow'">
            <td ng-if="data.columns[$index] !== 'sequence_number'"
                ng-repeat="cell in row"
                ng-class="[data.columns[$index], 'cell']">
                <a ng-if="isLink($index)" href="{{getLink(cell, $index)}}">{{cell}}</a>
                <span ng-if="!isLink($index)">
                    {{data.columns[$index] !== 'time' ? cell : formatTime(cell)}}
                </span>
            </td>
        </tr>
    </table>
</div>