<div class="table">
    <div class="tableName">{{data.name|tableName}}</div>
    <div class="db-table">
        <table>
            <tr>
                <td ng-if="data.columns[$index] !== 'sequence_number'"
                    ng-repeat="column in data.columns"
                    class="columnName">{{column}}</td>
            </tr>
            <tr dir-paginate="row in data.points  | itemsPerPage: 10" pagination-id="data.name"
                ng-class-even="'lightRow'"
                ng-class-odd="'darkRow'"
                ng-click="goTo($index)">
                <td ng-if="data.columns[$index] !== 'sequence_number'"
                    ng-repeat="cell in row"
                    ng-class="[data.columns[$index], 'cell']">
                    <span>
                        {{data.columns[$index] !== 'time' ? cell : formatTime(cell)}}
                    </span>
                </td>
            </tr>
        </table>

        <dir-pagination-controls template-url="/lib/dirPagination.tpl.html"
            pagination-id="data.name" max-size="7">
        </dir-pagination-controls>
    </div>
</div>