<query-field></query-field>
<div id="conferences">
    <div class="padding"></div>
    <div class="info" ng-if="response.length === 0">No results were found</div>
    <span  ng-repeat="data in response">
        <db-table ng-if="data.name!=='peer_connection_stats'" data="data"></db-table>
    </span>
</div>
<div id="loading" ng-if="loading">Loading...</div>
<span ng-repeat="info in data.info">
        <db-table data="info"></db-table>
    </span>
<span ng-repeat="(setName, chartsSet) in data.charts" drop-down setname="setName">
    <span ng-repeat="chart in chartsSet">
        <linechart data="chart.chart"
                   options="chart.options"
                   width="850"
                   height="300"
                   class="chart">
        </linechart>
    </span>
</span>