<div id="queries">
    <div id="query-field">
        <form id="query-input">
            <input type="text" placeholder="Search by room_jid" ng-model="searchFor"
                   ng-class="{error: error}" id="search-field">
            <button class="button" ng-click="search()">Search</button>
        </form>
    </div>
    <div class="padding"></div>
    <div class="info" ng-if="response.length === 0">No results were found</div>
    <span  ng-repeat="data in response">
        <db-table ng-if="data.name!=='peer_connection_stats'" data="data"></db-table>
    </span>
    <span ng-repeat="(setName, chartsSet) in charts" drop-down setname="setName">
        <span ng-repeat="chart in chartsSet">
            <linechart data="chart.chart"
                       options="chart.options"
                       width="850"
                       height="300"
                       class="chart">
            </linechart>
        </span>
    </span>
</div>