<div>
    <div id="query-field">
        <span id="query-input">
            <input type="text" placeholder="name" ng-model="name" id="name-field">
            <input type="text" placeholder="id" ng-model="id" id="id-field">
            <input type="text" placeholder="focus" ng-model="focus" id="focus-field">
            <button class="button" ng-click="makeQuery()">Query</button>
        </span>
    </div>
    <span  ng-repeat="data in response">
        <db-table data="data" queries="queries"></db-table>
    </span>
</div>