<div id="queries">
    <div id="query-field">
        <form id="query-input">
            <input type="text" placeholder="Search for..." ng-model="searchFor"
                   ng-class="{error: error}" id="search-field">
            <button class="button" ng-click="search()">Search</button>
            <input type="radio" ng-model="fieldName" id="id" value="conference_id"><label for="id">conference_id</label>
            <input type="radio" ng-model="fieldName" id="jid" value="room_jid"><label for="jid">room_jid</label>
            <input type="radio" ng-model="fieldName" id="name" value="name"><label for="name">name</label>
        </form>
    </div>
    <div class="padding"></div>
    <div class="info" ng-if="response.length === 0">No results were found</div>
    <span  ng-repeat="data in response">
        <db-table data="data"></db-table>
    </span>
</div>